.section {
  display: flex;
  align-items: center;
  padding: 15px;
  min-width: 200px;
  border-bottom-width: 2px;
  border-width: 0 !important;
  color: gray;
  cursor: pointer;
  &:hover {
    background-color: whitesmoke;
    border-width: 3px !important;
  }
  h4 {
    font-size: 14px;
    margin-left: 15px;
  }
}

.section_selected {
  background-color: whitesmoke;
  border-width: 3px !important;
}
